* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ethgas-header {
  margin: 0.2rem 0 0 0;
  padding: 0.25rem;
  color: rgb(241, 220, 220);
}

.gas-container i {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
  font-size: 3rem;
}

.gas-container {
  display: grid;
  color: rgb(241, 220, 220);
  width: 90%;
  height: 10vh;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0.1rem 0 0 0.1rem;
  grid-template-columns: 0.5fr 1fr 2fr 1fr;
  grid-template-areas:
    "logo gwei-fees times wait"
    "logo gwei-fees times wait";
}

.gascard-image {
  grid-area: logo;
  height: 70%;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.gwei-fees {
  grid-area: gwei-fees;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.gas-data {
  position: relative;
  padding: 0;
  margin: 0;
}

.eth-gas {
  font-size: 1rem;
  margin: 0.1rem;
}

.gas-time {
  grid-area: times;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.eth-gas-time {
  font-size: 1rem;
  margin: 0.1rem;
}

.gas-wait {
  grid-area: wait;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.eth-gas-wait {
  font-size: 1rem;
  margin: 0.1rem;
}

.gas-metric {
  font-size: 0.8rem;
  margin: 0.1rem;
}
