* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.gas-container {
  display: grid;
  width: 90vw;
  height: 15vh;
  border: 1px solid black;
  border-radius: 15px;
  margin: 1rem;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas:
    "logo gwei-fees times"
    "logo gwei-fees times";
}

.gas-container i {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
  font-size: 3rem;
}

.gas-data {
  position: relative;
  padding: 0;
  margin: 0;
}

.gwei-fees {
  grid-area: gwei-fees;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.gas-time {
  grid-area: times;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gas-metric {
  font-size: 0.8rem;
  margin: 0.1rem;
}

.eth-gas {
  font-size: 1.2rem;
  margin: 0.1rem;
}
