.metrics-data-container {
  border: 1px solid black;
  border-radius: 15px;
  margin: 0.1rem 0 0 0.1rem;
  padding: 1rem;
  width: 90%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first second";
}
.metrics-header {
  color: rgb(241, 220, 220);
  margin: 0.2rem 0;
  padding: 0.25rem;
}
.eth-data {
  display: flex;
  justify-content: space-around;
  margin: 0 1rem;
  font-size: 1.3rem;
  color: rgb(241, 220, 220);
}
