.home-container {
  display: grid;
  overflow-x: hidden !important;
}

.initial-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  background-color: rgb(33, 36, 40);
  height: 100vh;
  width: 100%;
}

.line-totaltvl {
  width: 90%;
  margin: auto;
}
.line-ethtvl {
  width: 90%;
  margin: auto;
}
.line-binancetvl {
  width: 90%;
  margin: auto;
}
.line-solanatvl {
  width: 90%;
  margin: auto;
}
.line-polygontvl {
  width: 90%;
  margin: auto;
}
