* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

.home-container {
  display: grid;
  place-items: center;
}

.home-heading {
  margin: 0;
  padding: 5px;
}

.home-intro {
  padding: 5px;
  margin: 0px 100px;
}

section {
  background-color: #132737;
  min-height: 100vh;
  min-width: 100vw;
}
