.profile-container {
  height: 100vh;
  width: 100%;
  display: grid;
  color: rgb(241, 220, 220);
  background-color: rgb(33, 36, 40);
  justify-content: center;
}

.profile-header {
  margin: 0.5rem;
  font-size: 2rem;
}

.user-data {
  font-size: 1rem;
}

.profile-data {
  margin: 3rem;
}
