.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
  color: ;
}

.th {
  display: none;
  font-weight: 900;
  color: rgb(246, 247, 249);
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  color: rgb(246, 247, 249);
  font-size: 1rem;
}

tr:first {
  background-color: rgb(246, 247, 249);
}

.tr:nth-of-type(even) {
  background-color: rgb(33, 36, 40);
}

.tr:nth-of-type(odd) {
  background-color: rgb(20, 20, 20);
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  justify-content: center;
}
