* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.learn-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(33, 36, 40);
  color: rgb(246, 247, 249);
  width: 100%;
}
.top-section {
  height: 95vh;
  width: 80%;
  margin: auto;
}
.learn-heading {
  margin: 1rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
.learn-intro {
  font-size: 1.25rem;
}
.learn-intro a {
  color: rgb(246, 247, 249);
}

/* Wallet Section */
.item-section {
  height: 100vh;
  width: 80%;
  margin: auto;
}
.item-text {
  font-size: 1.25rem;
}
hr {
  margin: 1rem;
}
.item-section a {
  color: rgb(246, 247, 249);
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.page-link {
  font-size: 2.5rem;
  margin: auto;
  padding: 1rem;
  text-decoration: none;
  border-bottom: rgb(246, 247, 249);
  color: rgb(246, 247, 249);
}
